body {
    font-family: Helvetica;
    margin: auto;
    background-color: lightgrey;
    width: 70%;
}

h1 {
    color: crimson;
    font-variant: small-caps
}

img
{
    margin: 20px;
    margin: 20px 0 20px -235px;
}

.vet{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: crimson;
    font-weight: bold;
}

a:hover
{
    color: rebeccapurple;
}

.big
{
    font-size: larger;

}
a:hover
{
    background-color: mediumseagreen;
}
